# Dependências do Node.js
/node_modules

# Arquivo de configuração do Firebase com chaves secretas
# Este arquivo é pessoal e não deve ser compartilhado.
# Crie o seu manualmente seguindo o README.md.
/js/firebase-config.js